@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.Navbar{
    font-size: 2rem;
}
.logo{
    height: 12rem;
    width: 12rem;
}
.logo_entrar{
    height: 1rem;
    width: 1rem;
}

.h1 {
    font-size: 2.2rem;
    color: #39374E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 1.5rem;
}
.h1Recolor{
    color: #c9a380;
}

.p{
    line-height: 2rem;
    font-size:2rem;
    color: #b2b8bd;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: end;
}
.p2{
    text-align: center;
    color: #39374E;
    font-size:1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    background: #39374E;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 0rem;
}


.span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: #E5E5E5 0.2s;
}

.FiIcon {
    color: #FFF;
    width: 20px;
    height: 20px;
}
.ThumbsUp {
    color: #E4C5A7;
    width: 40rem;
    height: 8rem;
}

.strong {
    flex: 1;
    text-align: center;
    color: #FDFDFD;
    font-size: 1.5rem;
}

.a:hover {
    background: #E4C5A7;
    transition: 1.5s;
}


@media(max-width: 900px) {

    .h1 {
        font-size: 1.2rem;
        line-height: 1.2rem
    }
    .p {
        font-size: 1.2rem;
    }

    .logo{
        height: 7rem;
        width: 7rem;
    }
    .logo_entrar{
        height: 1rem;
        width: 1rem;
    }
 

}

@media(max-width: 600px) {


  .h1 {
      font-size: 1.2rem;
      line-height: 1.2rem
  }
  .p {
      font-size: 1.2rem;
  }
  .logo{
      height: 3.5rem;
      width: 3.5rem;
  }
  .logo_entrar{
      height: 1rem;
      width: 1rem;
  }
  .strong {
    font-size: 1rem;
    }
    .FiIcon {
        color: #FFF;
        width: 20px;
        height: 20px;
    }
    .a {
        height: 50px;
        max-width: 200px;
    }
    .ThumbsUp {
        color: #E4C5A7;
        width: 8rem;
        height: 8rem;
    }
}

@media (min-width: 0px) { 
    .homeContent{
        display: flex;
        flex-direction: column-reverse;
        
    }
}

@media (min-width: 576px) { 
   
}


@media (min-width: 768px) { 

}


@media (min-width: 992px) { 
    .homeContent{
        display: flex;
        flex-direction: row;
        
    }
}


@media (min-width: 1200px) { 

}