@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.form{
    border-radius: .75rem;
    background-color: rgb(254, 254, 254); 
     -webkit-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75); 
    padding: .6rem;
    height: 100%;
}

.internalForm{
    display: flex;
}

.h1 {
    font-size: 1.75rem;
    color: #39374E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}


.label, .titleField{
    font-size: 1.1rem;
    /* color: #39374E; */
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
   
}
.label{
    margin-bottom: 40rem;
}
.titleField{
    font-size: 1.5rem;
    font-weight: 500;

}

/* .titleField::after{
    display: inline-block;
    content: "";
    border-top: .1rem solid gray;
    width: 95%;
    margin: 0 .1rem;
    transform: translateY(-1rem);
} */

.input{
    display: block;
    background-color: #E5E5E5;
}



.logo{
    height: 12rem;
    width: 12rem;
    text-align: center;
}




.p, .pRecolor{
    line-height: 2.75rem;
    font-size:2rem;
    color: #b2b8bd;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: start;
}
.pRecolor{
    color: #c9a380;
}
.p2, .p2Center{
    text-align: end;
    color: #39374E;
    font-size:1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
.p2Center{
    text-align: center;
    margin: 3rem;
}

/* .p2::after{
    display: inline-block;
    content: "";
    border-top: .1rem solid gray;
    width: 100%;
    margin: 0 .1rem;
    transform: translateY(-1rem);
} */

.a {
    width: 100%;
    max-width: 360px;
    height: 48px;
    background: #ccac8b;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 0px;
    cursor: pointer;
    margin-bottom: 0rem;
}


.span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: #E5E5E5 0.2s;
}

.FiIcon {
    color: #FFF;
    width: 20px;
    height: 20px;
}
.ThumbsUp {
    color: #39374E;
    width: 40rem;
    height: 8rem;
}

.strong {
    flex: 1;
    text-align: center;
    color: #FDFDFD;
    font-size: 1.1rem;
    margin: .75rem;
}

.a:hover {
    background: #39374E;
    transition: 1.5s;
}

.thanks_logo{
    width: 10rem;
    height: 4rem;
    background-color: #171718cb;
    border-radius: .25rem;
}

.rating {
    overflow: hidden;
    display: inline-block;
}
.rating_input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating:hover .rating_star:hover,
.rating:hover .rating_star:hover ~ .rating_star,
.rating_input:checked ~ .rating_star {
    background-position: 0 0;
}

 .rating_star,
.rating:hover .rating_star {
  position: relative;
    display: block;
  float: right;
    width: 16px;
    height: 16px;
    background: url('https://www.everythingfrontend.com/samples/star-rating/star.png') 0 -16px;
}


/*Container Mother */

@media (min-width: 0px) { 
    .mother{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .internalForm{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .space{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .p, .pRecolor{
        line-height: 2rem;
        font-size: 1.5rem;
        color: #b2b8bd;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 1.5rem;
        text-align: center;
    }
    .pRecolor{
        color: #c9a380;
    }
    .thanks_logo{
        width: 5rem;
        height: 2rem;
        background-color: #1A202C;
        border-radius: .25rem;
    }
    .logo{
        height: 6rem;
        width: 6rem;
        text-align: center;
    
    }
    .textImageContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
 }

@media (min-width: 576px) { 
    .mother{

    }
        .p, .pRecolor{
        line-height: 2.75rem;
        font-size:2rem;
        color: #b2b8bd;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 1.5rem;
        text-align: start;
    }
       .pRecolor{
        color: #c9a380;
    }
    .thanks_logo{
        width: 10.5rem;
        height: 4rem;
        background-color: #171718cb;
        border-radius: .25rem;
    }
    .logo{
        height: 12rem;
        width: 12rem;
        text-align: center;
    }
    .textImageContainer{
        flex-wrap: nowrap;
    }
 }


@media (min-width: 768px) { 
    .mother{
        
    }
    .internalForm{
        
    }
}


@media (min-width: 992px) { 
    .mother{
        
    }
    .internalForm{
        justify-content: space-around;
        flex-wrap: nowrap;
    }
 }


@media (min-width: 1200px) { 
    .mother{

    }
 }

 .containerCupom{
    margin: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #39374E;
    padding: 1.5rem;
}

.discount{
    text-align: center;
    color: rgb(26, 24, 24);
    font-weight: 300;
}
.p2Cupom{
    text-align: center;
    color: rgb(26, 24, 24);
    font-size:1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.pCupom{
    line-height: 2.75rem;
    font-size:2rem;
    color: #b2b8bd;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
}

.p2CenterCupom{
    text-align: center;
    color: #39374E;
    font-size:1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}