@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.form{
    border-radius: .75rem;
    /* background-color: #b2b8bd; */
    -webkit-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 17px -9px rgba(0,0,0,0.75);
    padding: .6rem;
}

.internalForm{
    display: flex;
}

.h1 {
    font-size: 1.75rem;
    color: #39374E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}


.label, .titleField{
    font-size: 1.1rem;
    /* color: #39374E; */
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
   
}
.label{
    margin-bottom: 40rem;
}
.titleField{
    font-size: 1.5rem;
    font-weight: 500;

}

.input{
    display: block;
    background-color: #E5E5E5;
}



.logo{
    height: 12rem;
    width: 12rem;
    text-align: center;
}




.p{
    line-height: 2rem;
    font-size:2rem;
    color: #b2b8bd;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: end;
}

.p2{
    text-align: end;
    color: #39374E;
    font-size:1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}



.a {
    width: 100%;
    max-width: 360px;
    height: 48px;
    background: #ccac8b;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 0rem;
}


.span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: #E5E5E5 0.2s;
}

.FiIcon {
    color: #FFF;
    width: 20px;
    height: 20px;
}
.ThumbsUp {
    color: #39374E;
    width: 40rem;
    height: 8rem;
}

.strong {
    flex: 1;
    text-align: center;
    color: #FDFDFD;
    font-size: 1.1rem;
    margin: .5rem;
}

.a:hover {
    background: #39374E;
    transition: 1.5s;
}
