@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.rating {
    overflow: hidden;
    display: inline-block;
    justify-content: space-around;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
    cursor: pointer;
}

 .rating-star,
.rating:hover .rating-star {
  position: relative;
    display: block;
  float: right;
    width: 16px;
    height: 16px;
    background: url('https://www.everythingfrontend.com/samples/star-rating/star.png') 0 -16px;
    cursor: pointer;
}
  