.code{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: .25rem;

}

.code:hover{
    background-color: #39374E;
    border-radius: none;
    transition: .75s;
}
.logo{
    width: 6rem;
    height: 6rem;
}
.logo:hover{
    opacity: 60%;
    border-radius: none;
    transition: .75s;
}
.container_modal{
    text-align: center;
}

.mainTitle {
    color: #39374E;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
}
.mainTitleRecolor{
    color: #c9a380;
}

.p, .p2 {
    line-height: 1.75rem;
    font-size:1.75rem;
    color: #4c4e50;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
}

.p2:hover{
    
}
.hoverP{

}
.hoverP:hover{

}

.pRecolor{
    color: #252729;
    cursor: pointer;
    outline: #252729;
}

.thanks_logo{
    width: 10rem;
    height: 4rem;
    background-color: #171718cb;
    border-radius: .25rem;
}

@media(max-width: 600px) {
    .thanks_logo{
        display: none;
    }
    .logo{
        padding: 1rem;;
    }
}



@media (min-width: 0px) { 

 }

@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

 }